[Desktop Entry]
Encoding=UTF-8
Name=Taurus
Comment=Taurus P2P Cryptocurrency
Exec=taurus-qt %u
Terminal=false
Type=Application
Icon=taurus128
MimeType=x-scheme-handler/taurus;
Categories=Office;Finance;
Name[en_US]=taurus-qt.desktop
